/* Header styles */

.header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #f0f8ff;
    border-bottom: 3px solid #d8d8da;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 50px;
}

.logo img {
    width: 50px;
    height: 50px;
    margin-top: 6px;
}

.logo h1 {
    font-size: 24px;
}

.searchBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid transparent;
    background-color: #c8f0fa;
    border-radius: 50px;
    margin-left: 30vw;
    padding: 5px;
    width: 300px;
}

.searchBar input {
    margin: 5px;
    width: 280px;
    outline: none;
    border: none;
    background-color: #c8f0fa;
}

.searchBar button {
    /*border: none;
    background-color: #c8f0fa;*/
    height: 25px;
    width: 30px;
}

/* Sidebar styles */

.sideBar {
    position: fixed;
    margin-top: 59px;
    height: 100%;
    width: 180px;
}

.sideBar ul {
    display: flex;
    flex-direction: column;
    height: 90vh;
    background-color: #f0f8ff;
}

.sideBar ul:first-child {
    padding-top: 10px;
}

.sideBar a {
    width: 180px;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.sideBar a:hover {
    color: gray;
    width: 190px;
    border-left: 5px solid gray;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: #f0f8ff;
    box-shadow: 0px 0px 7px 3px #e0e9f0;
}

.sideBar a i {
    margin-left: 20px;
}

.sideBar ul a li {
    text-decoration: none;
    font-size: 16px;
    line-height: 45px;
    padding-left: 30px;
}