* {
    margin: 0;
    padding: 0;
}

.NewPost {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin: 60px 0 0 180px;
}

.createSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 15px;
    background-color: #fdfdfd;
    min-width: 600px;
    max-width: 600px;
    min-height: 150px;
    max-height: 600px;
}

.createSection h3 {
    width: 100%;
    padding: 10px 0;
    font-weight: 500;
    font-size: 26px;    
    border-bottom: 1px solid #e9e9ec;
    text-align: center;
}

.createSection .profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 15px 0 0 50px;
}

.createSection .profile img {
    border: 1px solid transparent;
    border-radius: 50px;
    height: 30px;
    width: 30px;
    padding: 5px;
    background-color: rgb(168, 168, 168);
}

.createSection .profile p {
    padding-left: 10px;
    font-weight: bold;
}

.createSection .textArea {
    margin: 30px 0;
}

.createSection textarea {
    min-height: 100px;
    max-height: 300px;
    min-width: 550px;
    max-width: 550px;
    resize: none;
    border: none;
    border-radius: 10px;
    outline: none;
    padding: 20px 50px;
    box-sizing: border-box;
    background-color: #f0f0f3;
    font-size: 18px;
}

.createSection textarea::placeholder {
    padding-top: 10px;
    font-size: 30px;
    text-align: center;
}

.createSection .createMenu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 550px;
    padding-top: 1px;
    margin: 0 10px 10px;
    border-radius: 5px;
    background-color: #e9e9ec80;
}

.createSection .createMenu i {
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding: 10px 93px;
    box-sizing: border-box;
}

.createSection .createMenu i:hover {
    border: 0 solid transparent;
    border-radius: 5px;
    color: #4797ff;
    background-color: #e9e9ec61;
    box-shadow: inset 0px 0px 3px 20px #e9e9ec61;
    cursor: pointer;
}

.createSection .createMenu span {
    padding-left: 10px;
}

*::-webkit-scrollbar {
    width: 5px;
  }
  
*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background: #d4d4d4;
    border-radius: 3px;
}
  
*::-webkit-scrollbar-thumb:hover {
    background: #9e9e9e;
    cursor: context-menu !important;
}